@CHARSET "UTF-8";

BODY {
    padding:0;margin:0;font-family:NanumBarunGothic;height:100%

}
#Container {
    min-width:1280px;
}

.headerwrap {
    float:left;
    width:100%;
}

.Top_bar {
    float:left;
    width:100%;
    background-color:#00bbcb;
}

a.com_logo {
    float:left;
    width:170px;
    height:53px;
    background:url('img/logo.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin:15px 30px;
}

#status {
    float:right;
    width:15%;
    margin-right:30px;
}

.idLbl {
    float:right;
    color:#fff;
    padding-top:50px;
}

.out_btn {
    float:right;
    margin-top:50px;
    border:2px solid #fff;
    background-color:#fff;
    border-radius:5px;
    color:#00bbcb;
    font-weight:bold;
    cursor:pointer;
}

.navimenu {
    float:left;
    width:230px;
    background-color:#fff;
    height:1090px;
    border-right:1px solid #808080;
}

.navimenu .menu_title {
    float:left;
    width:100%;
}

.navimenu .menu_title .write_icon {
    float:left;
    width:40px;
    height:54px;
    background:url('img/write.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin:15px 15px 15px 55px;
}


.navimenu .menu_title .list_icon {
    float:left;
    width:40px;
    height:54px;
    background:url('img/list.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin:15px 55px 15px 15px;
}

.contentBox {
    float:left;
    width:1040px;
}

.contentBox .content {
    float:left;
    width:1040px;
    margin:15px 60px;
}

.content .content_title {
    float:left;
    width:100%;
    text-align:center;
    font-size:15pt;
    font-weight:bold;
    
}

.content .content_att {
    float:left;
    width:100%;
    padding:10px 10px;
}

.content_att .label {
    float:left;
    width:100%;
    font-size:13pt;
    padding-bottom:5px;
}

.content_att .yearsearch {
    float:left;
    width:200px;

}
img.ui-datepicker-trigger {
    float:left;
    width:20px;
    height:20px;
    margin:1px 5px 0 0;
}
.content_att span {
    float:left;
    margin:0 5px 0 0;
}
.content_att input[type=text]{
    border:0;
    border-bottom:1px solid #808080;
    padding:3px 0;
    text-align:center;
}
.content_att input[type=text].pay_memoC{
    border:0;
    border-bottom:1px solid #808080;
    padding:3px 0;
    width:380px !important;
}

.content_att .pay_memoL {
    float:left;
    margin:3px 17px 0 18px;
}
.content_att .map_search {
    float:left;
    margin:5px 5px;
}

.map_search input[type=text] {
    width:250px;
    float:left;
}

.searchbtn {
    float:left;
    border:2px solid #00bbcb;
    background-color:#fff;
    padding:3px 10px;
    margin:-1px 0 0 2px;
    border-radius:5px;
    color:#00bbcb;
    cursor:pointer;
    font-weight:bold;
}

.content_att .map_result {
    float:left;
    margin:20px 0 0 0 ;
}

.content_att .expensewrap {
    float:left;
    width:920px;
}

.content_att .expense_select {
    float:left;
    width:100%;
    font-size:11pt;
}
.content_att .expense_select span {
    float:left;
    padding-top:2px;
}
.content_att .expense_select input[type=checkbox] {
    float:left;
}

.expensewrap .select_result {
    float:left;
    width:100%;
}
.expensewrap .select_result2 {
    float:left;
    width:100%;
    display:none;
}
.expensewrap .select_result .label{
    float:left;
    width:130px;
    border-bottom:2px solid #808080;
    text-align:center;
    font-size:11pt;
}

#map {
    float:left;
    width:100%;
    height:355px;
    position: relative; overflow: hidden;
    display:none;
}
.expensewrap .select_result input[type=text] {
    float:left;
    width:120px;
    margin:5px 5px;
}
.expensewrap .select_result2 input[type=text] {
    display:none;
    float:left;
    width:120px;
    margin:5px 5px;
    text-align:center;
}

.content_att .bill_upload {
    float:left;
    width:780px;
}
.content_att .bill_upload input[type=file] {
    float:left;
    margin:5px 5px;
    border:1px solid #808080;
}

.bottom_btn {
    float:left;
    width:86%;
    margin:10px 0 5px 65px;
}
.bottom_btn .save_btn {
    float:left;
    border:2px solid #00bbcb;
    background-color:#fff;
    padding:3px 10px;
    margin:0 0 0 5px;
    border-radius:5px;
    color:#00bbcb;
    cursor:pointer;
    font-weight:bold;
}
#reset {
    float:left;
    border:2px solid #00bbcb;
    background-color:#fff;
    padding:3px 10px;
    margin:2px 0 0 5px;
    border-radius:5px;
    color:#00bbcb;
    cursor:pointer;
    font-weight:bold;
}
#reset:hover {
    background-color: #00bbcb;
    color: #fff;
    font-weight: bold;
}
.bottom_btn .cancel_btn {
    float:left;
    border:2px solid #00bbcb;
    background-color:#fff;
    padding:3px 10px;
    margin:0 0 0 5px;
    border-radius:5px;
    color:#00bbcb;
    cursor:pointer;
    font-weight:bold;
}
.btnhover:hover {
    background-color: #00bbcb;
    color: #fff;
    font-weight: bold;
}


/*map 스타일*/
.map_wrap, .map_wrap * {
    display:none;
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic',dotum,'돋움',sans-serif;
    font-size: 12px;
}

    .map_wrap a, .map_wrap a:hover, .map_wrap a:active {
        color: #000;
        text-decoration: none;
    }

#menu_wrap {
    position: absolute;
    /*top: 0;
    left: 0;
    bottom: 0;*/
    width: 250px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
    height:350px;
    float:left;
    display:none;
    margin-top:25px;
}

.bg_white {
    background: #fff;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

    #menu_wrap .option span {
        margin: 10px 0;
    }

    #menu_wrap .option button {
        margin-left: 5px;
    }

#placesList li {
    list-style: none;
}

#placesList .item {
    float:left;
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

    #placesList .item span {
        display: block;
        margin-top: 4px;
    }

    #placesList .item h5, #placesList .item .info {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #placesList .item .info {
        padding: 10px 0 10px 55px;
    }

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px;
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

    #pagination a {
        display: inline-block;
        margin-right: 10px;
    }

    #pagination .on {
        font-weight: bold;
        cursor: default;
        color: #777;
    }

.search_text {
    float:left;
    width:175px;
}

.wrapper {
    float:left;
    margin:1% 40%;
    background-color:#00bbcb
}

.loginDiv {
    float:left;

}

.loginDiv table {
    float:left;
    width:100%;
    color:#fff;
}

.loginDiv table h2 {
    text-align:center;
    border-bottom:1px solid #fff;
    margin:0;
    padding:10px 0 5px 0;
}

.loginDiv table span {
    float:left;
}

.loginDiv table tr td {
    padding:3px 0;
}

.joinbtn {
    background-color: #fff;
    color: #00bbcb;
    font-weight: bold;
    border:0;
    border-radius:5px;
    padding:3px 7px;
    cursor:pointer;
}

joinbtn:hover {
    float:left;
    background-color:#00bbcb;
    padding:3px 7px;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}