@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@page a4sheet {
    size: 21.0cm 29.7cm;
}

.a4 {
    page: a4sheet;
    page-break-after: always;
}

.sbtm {
    vertical-align: bottom;
}

.top {
    width: 750px;
    height: 120px;
    border: 1px solid;
}

.center {
    width: 750px;
    height: 273px;
    border: 1px solid;
}

.bottom {
    width: 750px;
    height: 386px;
    border: 1px solid;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 750px;
    nowrap;
    margin:auto auto;
}

input[type="text"] {
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Nanum Gothic', serif;
}

input {
    border: none;
    background: transparent;
}
.save_btn {
    margin:0 0 5px 138px !important;
}
textarea {
    width:97%;
    height:97%;
    border:0;
    margin-top:2px;
}

h2 {
    width: 750px;
    margin: 10px auto;
    text-align:center;
}

.btn_group {
    float:left;
    width:345px;
    margin:1% 47%;
}

.btn_group button.print {
    width:45px;
    height:45px;
    float:right;
    background-image:url("img/print.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#fff;
    border:0;
}

#print_go {
     width:45px;
     height:45px;
     float:right;
     background-image:url("img/print.png");
     background-size:100%;
     background-repeat:no-repeat;
     background-position:center;
     background-color:#fff;
     border:0;
     
 } 

.memo_label {
    float:left;
    width:80px;
    margin-left:5px;
    padding:4px 0;
}
input[type=text].memo_labelT {
    float:left;
    width:570px;
    text-align:left;
}