@media print {


    div#Container {
        margin: 0;
    }

    div.headerwrap {
        display: none;
    }

    div.navimenu {
        display: none;
    }

    div.content {
        visibility: visible;
        position: relative;
        zoom: 1.435;
        left: 0;
        right: 0;
        margin: 0 !important;
        float: none;
    }

        div.content * {
            visibility: visible;
        }

        div.content table {
            margin: 0;
        }

        div.content h2 {
            margin: 7% 0 1.5% 0;
            text-align: center;
        }

    div.btn_group {
        display: none !important;
    }

    .print_btn {
        display: none !important;
    }
}
